{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список товаров c фильтрами</title>
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.css' %}">
</head>
<body>

    <form>
        {{ form.as_div }}

        <button type="submit" class="btn btn-info">Применить фильтр</button>
    </form>
    {% for product in find_product %}
        <h1>Название продукта: {{ product.name }}</h1>
            <p>{{ product.description }}</p>
    {% endfor %}


</body>
</html>